@import "../abstracts/variable";
@import "../abstracts/mixin";
#section__06 {
  overflow-x: auto;

  ul {
    list-style: none;
    text-align: center;
  }
  .menu__filter {
    margin-bottom: 40px;
    li {
      display: inline-block;
      margin: 0 30px;
      color: #a4a4a4;
      cursor: pointer;
      font: {
        size: 15px;

        family: "Source Sans Pro", sans-serif;
      }
    }
    li:first-child {
      border-bottom: 2px solid black;
      color: $color-second;
    }
  }
  .filter__item {
    li {
      width: 25%;
      height: 300px;
      padding: 10px;
      float: left;
      overflow: hidden;
      img {
        display: block;
        width: 150%;
        height: auto;
      }
    }
    li.active {
      width: 25%;
      height: 300px;
      overflow: hidden;
      transition: all 0.5s ease;
    }
    li.hidden {
      width: 0;
      height: 0;
      padding: 0;
      transition: all 0.5s ease;
    }
  }
}
