//COLORS
$color-main: #fb414e;
$color-second: #202b30;
$text__color-white: #ffff;
$text__color-black: #0000;
// BUTTONS
$slide-active: __slider--active;
$slide: __slider;
$bussiness: __bussiness;
$trusted: __trusted;
$form: __form;
//FEATURES
$features-w-h: 355.5px;
$features-active: __block--active;
$features: __block;
//SERVICES
$services-w-h: 255.5px;
//
